/* a simple light theme example */

:root {
  color-scheme: light;

  --bg:         #f7f5f0;
  --bg-surface: #eae8e2;
  --bg-input:   #fefdfa;
  --border:     #b4afa7;

  --fg:         #1a1916;
  --fg-dim:     #58524b;

  --accent:     #cb4567;
  --link:       #2f59ba;

  --success:    #1d6b40;
  --warning:    #84540b;
  --error:      #b12937;

  --monloader:  #1e6393;
  --tagger:     #136a64;
  --plugin:     #813cb5;

  --fav:        #ad2959;
  --remove:     #8e4953;
  --alternate:  #5c4dbb;

  --scrim:      #cfcbc2;
  --media-bg:   #e0ddd6;

  --nav-images:      #b12937;
  --nav-inbox:       #8f4c1b;
  --nav-categories:  #755a0d;
  --nav-tags:        #226c3a;
  --nav-collections: #136a64;
  --nav-relations:   #1e6393;
  --nav-settings:    #813cb5;

  --cat-3d90e3: #2b5ea4;
  --cat-00aa00: #226c3a;
  --cat-cc0000: #b12937;
  --cat-aa00aa: #883aac;
  --cat-ffaa00: #7a580e;
  --cat-996666: #82505b;
  --cat-7d4fbf: #6945c4;
  --cat-b85c9e: #983a7d;
  --cat-4a8fa8: #2b657b;
  --cat-ed5d1f: #944923;
}
